@model IEnumerable<MyWorkingEnvironment.ViewModels.ClockingsEmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clocking List</h1>

<p>
    <a asp-action="Create">Add new clocking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Out)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.In)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Out)
                </td>
                <td>
                    @if (User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.IdClocking  })  @:| 
                        @Html.ActionLink("Details", "Details", new {  id=item.IdClocking  })  
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @:|
                        @Html.ActionLink("Delete", "Delete", new {  id=item.IdClocking  })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
