@model IEnumerable<MyWorkingEnvironment.Models.TaskEmployeeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task List</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create new task</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.IdTaskEmployee  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.IdTaskEmployee  }) 
                    @if (User.IsInRole("Admin"))
                    {
                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.IdTaskEmployee })
                    }
                </td>
        </tr>
}
    </tbody>
</table>
