@model IEnumerable<MyWorkingEnvironment.Models.ReservationModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.IdReservation  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.IdReservation  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.IdReservation  })
            </td>
        </tr>
}
    </tbody>
</table>
